<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<h1>Welcome to Cantact List Application</h1>
</div>
</nav>
<div class="container">

<!--<%= link_to 'Go to blog >>>', controller: 'articles' %>-->

<%= link_to 'Contact lists >>>', controller: 'contacts' %>
</div>